#answers {
    justify-content: space-between;
}
*, *::before, *::after {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
#qbox {
    padding: 0;
}
#question {
    text-align: center;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}
.neutral {
    background-color: lightskyblue;
}

.correct {
    background-color: green;
}
.wrong {
    background-color: red;
}
.controls {
}
.btn:hover {
    background-color: white;
}
.hide {
    display: none;
}